.fb{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
	width:60px;
	height:60px;
	background: url(../img/facebook.png)/*tpa=http://www.mahmoodcoffee.com/img/facebook.png*/;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	opacity: .5;
	position: fixed;
	right: 0px;
	top: 200px;
	z-index: 1000;
}
.tw{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	background: url(../img/twitter.png)/*tpa=http://www.mahmoodcoffee.com/img/twitter.png*/;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	opacity: .5;
	position: fixed;
	right: 0px;
	top: 270px;
	z-index: 1000;
	width:60px;
	height:60px;
}

.ins{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	background: url(../img/instagram.png)/*tpa=http://www.mahmoodcoffee.com/img/instagram.png*/;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	opacity: .5;
	position: fixed;
	right: 0px;
	top: 340px;width:60px;
	height:60px;
	z-index: 1000;
}

.youtube{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	width:60px;
	height:60px;
	background: url(../img/youtube.png)/*tpa=http://www.mahmoodcoffee.com/img/youtube.png*/;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	opacity: .5;
	position: fixed;
	right: 0px;
	top: 410px;
	z-index: 1000;
}
.fb:hover{
	opacity:1;
}
.tw:hover{
	opacity:1;
}

.ins:hover{
	opacity:1;
}
.youtube:hover{
	opacity:1;
}

.copyright a {
	color: #585858;
}
.oncekiurun{
	height: 100px;
	background: #f20000;
	padding: 10px;
	padding-left: 20px;
	color: #fff;
	font-size: 50px;
	line-height: 80px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.sonrakiurun{
	height: 100px;
	background: #f20000;
	padding: 10px;
	padding-right: 20px;
	text-align: right;
	color: #fff;
	font-size: 50px;
	line-height: 80px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.oncekiurun i {
	font-size: 70px;
}
.sonrakiurun i {
	font-size: 70px;
}
.oncekiurun:hover{background: #ca0000;}
.sonrakiurun:hover{background: #ca0000;}

.bg-2in1{
	background-color: #000;
}
.bg-4in1findik{
	background-color: #00b34b;
}
.bg-4in1vanilya{
	background-color: #00a6df;
}
.bg-4in1karamel{
	background-color: #fe7034;
}
.bg-4in1cikolata{
	background-color: #9e4135;
}
.bg-4in1cacule{
	background-color: #a7b362;
}
.bg-latte{
	background-color: #2054b1;
}
.bg-gold{
	background-color: #884c2d;
}
.bg-turkkahvesi{
	background-color: #d81216;
}
.bg-salep{
	background-color: #e55525;
}
.bg-sicakcikolata{
	background-color: #863a17;
}
.bg-cappucinoklasik{
	background-color: #c92324;
}
.bg-cappucinocikolata{
	background-color: #6d150d;
}
.bg-cappucinofindik{
	background-color: #028843;
}
.bg-cappucinokaramel{
	background-color: #fbc613;
}
.bg-cappucinovanilya{
	background-color: #009cad;
}
.bg-krema{
	background-color: #4945aa;
}
.bg-htk1{
	background-color: #005119;
}
.bg-htk2{
	background-color: #16335b;
}
.bg-htk3{
	background-color: #6a0402;
}
.bg-htk4{
	background-color: #000;
}
.bg-htk5{
	background-color: #af2773;
}
#mobileurunok{
	display: none;
}
#normalurunok{
	display: block;
}
#urunlerbaslik{
		padding-top: 150px;
	}
	#bigurunlink{
		display: block;
	}
	#mobileurunlink{
		display: none;
	}
.videoborder{
	border:solid 4px #f20000;
}
#section-intro-diger-dil{
	min-height: 100vh;
}

@media only screen and (max-width: 768px) {
	.intro-slide-1 {
	background-repeat: no-repeat;
	background-position: 200px 100px;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;
	}
	#mobileurunok{
		display: block;
	}
	#normalurunok{
		display: none;
	}
	#urunlerbaslik{
		padding-top: 20px;
	}
	.blog .blog-heading {
		height: 150px;
	}
	.article {
	height: 200px;
	}
	h2{
		font-size: 20px;
	}
	#bigurunlink{
		display: none;
	}
	#mobileurunlink{
		display: block;
	}
	.lead {
    font-size: 14px;
	}

	.oncekiurun{
	height: 40px;
	padding: 0px;
	padding-left: 20px;
	font-size: 20px;
	line-height: 40px;
}

.sonrakiurun{
	height: 40px;
	background: #f20000;
	padding: 0px;
	padding-right: 20px;
	font-size: 20px;
	line-height: 40px;
}
.oncekiurun i {
	font-size: 30px;
}
.sonrakiurun i {
	font-size: 30px;
}
.fb{
	display: none;
}
.tw{
	display: none;
}
.ins{
	display: none;
}
.youtube{
	display: none;
}
}