@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/oswald/v15/aBQVVQvnHeKhkWtMdHDrBA.eot)/*tpa=http://fonts.gstatic.com/s/oswald/v15/aBQVVQvnHeKhkWtMdHDrBA.eot*/;
}
